@charset "utf-8";
/* CSS Document */
.body {
	font-family:"宋体";
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	color:#004c7d;
}
.biaoti {
	font-family:"黑体";
	font-size:36px;
	font-style:normal;
	font-weight:bold;
	color:#3399CC;
	text-align:center;
}
.denglu {
	font-family:"宋体";
	font-size:14px;
	font-style:normal;
	color:#0099CC;
	padding-top:5px;
	padding-right:7px;
	padding-bottom:3px;
	padding-left:7px;
}
#apDiv1 {
	position:absolute;
	left:1px;
	top:1px;
	width:800px;
	height:50px;
	z-index:1;
}
#apDiv2 {
	position:absolute;
	left:1px;
	top:51px;
	width:800px;
	height:18px;
	background-color:#e0f0f9;
	z-index:2;
}
#apDiv3 {
	position:absolute;
	left:1px;
	top:82px;
	width:800px;
	height:18px;
	z-index:3;
}
#apDiv4 {
	position:absolute;
	left:1px;
	top:110px;
	width:800px;
	height:18px;
	z-index:4;
}
#apDiv5 {
	position:absolute;
	left:1px;
	top:142px;
	width:800px;
	height:18px;
	z-index:5;
}
#apDiv6 {
	position:absolute;
	left:1px;
	top:163px;
	width:800px;
	height:360px;
	z-index:6;
}
#apDiv7 {
	position:absolute;
	left:1px;
	top:526px;
	width:800px;
	height:18px;
	z-index:7;
}
#apDiv8 {
	position:absolute;
	left:1px;
	top:108px;
	width:800px;
	height:18px;
	background-color:#e0f0f9;
	padding-top:5px;
	padding-right:7px;
	padding-bottom:3px;
	padding-left:7px;
	z-index:8;
}
#apDiv9 {
	position:absolute;
	left:1;
	top:135px;
	width:800px;
	height:465px;
	z-index:9;
}
#apDiv10 {
	position:absolute;
	left:1px;
	top:163px;
	width:800px;
	height:18px;
	background-color:#e0f0f9;
	padding-top:5px;
	padding-right:7px;
	padding-bottom:3px;
	padding-left:7px;
	z-index:10;
}
#apDiv11 {
	position: absolute;
	left: 1px;
	top: 195px;
	width: 800px;
	z-index: 7;
	height: 180px;
}
#apDiv12 {
	position: absolute;
	left: 1px;
	top: 390px;
	width: 800px;
	z-index: 7;
	height: 100px;	
}
.font1 {
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:bold;
}
#center {
	text-align:center;
}
.replyTitle {
	font-size:14px;
	font-weight:bold;	
}
.topicTitle {
	font-size:14px;
	font-weight:bold;	
}